<div id="<%= dom_id line_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Line Item:</strong>
    <%= line_item.quantity %> &times;
    <%= line_item.product.title%>
    <%= number_to_currency line_item.unit_price %>
    cart id: <%= line_item.cart_id %>
   </div>
</div>
